In [1]:
import pandas as pd
import matplotlib as plt

In [7]:
data = pd.read_csv('python_task_dataset.csv')
data.head(20)

,device_id,device_type,datetime,ev_type,adv_type,region_id,age,gender
0,100001,android,2019-03-01 15:58:02,0,multi,2,14,2
1,100001,android,2019-03-01 17:13:53,0,multi,2,14,2
2,100002,android,2019-03-01 23:13:25,0,multi,2,0,0
3,100002,android,2019-03-01 23:25:06,0,multi,2,0,0
4,100003,android,2019-03-01 15:27:53,0,multi,1,0,0
5,100004,android,2019-03-01 15:31:17,0,multi,1,38,1
6,100005,android,2019-03-01 15:32:34,0,multi,1,14,2
7,100006,android,2019-03-01 15:32:38,0,multi,1,0,0
8,100006,android,2019-03-01 15:57:59,0,multi,1,0,0
9,100007,android,2019-03-01 15:33:10,0,multi,1,16,2
10,100007,android,2019-03-01 15:57:29,0,multi,1,16,2
11,100007,android,2019-03-08 23:16:38,0,multi,1,16,2
12,100007,android,2019-03-08 23:46:21,0,multi,1,16,2
13,100007,android,2019-03-01 23:15:02,0,multi,1,16,2
14,100007,android,2019-03-02 00:51:47,0,multi,1,16,2
15,100007,android,2019-03-07 01:21:55,0,multi,1,16,2
16,100007,android,2019-03-07 11:05:37,0,multi,1,16,2
17,100007,android,2019-03-09 15:58:28,0,multi,1,16,2
18,100007,android,2019-03-03 16:46:35,0,multi,1,16,2
19,100007,android,2019-03-01 22:05:59,0,multi,1,16,2

In [12]:
appleUsers = data.loc[data['device_type'] == 'iphone']
print(appleUsers)

Empty DataFrame
Columns: [device_id, device_type, datetime, ev_type, adv_type, region_id, age, gender]
Index: []

In [23]:
genders = data['gender'].value_counts()
women = genders[2]
print(women)

10440